include *.in
include *.lock
include LICENSE
include Pipfile
recursive-include yrlocationforecast *.py

# added by check_manifest.py
recursive-include examples *.py
recursive-include tests *.ini
recursive-include tests *.json
recursive-include tests *.py
