[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mypy = "*"
black = "==19.10b0"
flake8 = "*"
coverage = "*"
pydocstyle = "*"
twine = "*"
check-manifest = "*"
metno-locationforecast = {editable = true, path = "."}

[packages]
requests = ">=2.20.0"

[requires]
python_version = ">=3.6"
