[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==5.4.3"
mypy = "==0.782"
black = "==24.3.0"
flake8 = "==3.8.3"
coverage = "==5.2"
pydocstyle = "==5.0.2"
twine = "==3.2.0"
check-manifest = "==0.42"
metno-locationforecast = {editable = true, path = "."}

[packages]
requests = ">=2.20.0"
